.container {	
	padding: 0px 60px 0px 60px;
	position: relative;
    
	
}

.title-pg {
	font-size: 2em;
	font-weight: 10;
	padding-bottom: 50px;

}

.control-label {
	font-size: .4em;
	
}

.alerta {
	font-size: .4em;

}

.slick-prev {
	left: 0;
	z-index: 999;

}

.slick-next {
	right: : 0;
	
}

.menu {
	background-color: #666633;
	 

}

.footer {
	background-color: #15151e;
	width: 100%;
	position: relative;
    z-index: 999;  
    


}

